input {
  font-size: 14pt;
  line-height: 28pt;
  margin-bottom: 28pt;
  border: none;
  border-bottom: 5px solid $theme-color;
  background: $text-color;
  outline: none;
  color: #ffffff;
}

input:focus {
  border-bottom: 5px solid #49cc32;
}

input[type=submit] {
  background: #4e5f37;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px #4d7459, 3px 3px 1px 1px black;
}
input[type=submit]:hover {
  background: $theme-color;
  color: #ffffff;
  border: 1px solid black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-bottom: 5px solid #3e6340;
  -webkit-text-fill-color: #2A293E;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}