---
layout: default
---
<div class="post">

  <header class="post-header">
    <div>
        <p style="float: right;">
        </p>
      <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}</p>

    </div>
  </header>

  <article class="post-content">
    {% include betaSignUp.html %}
    {{ content }}
  </article>
  <hr>
  <br>
  <p>
    {% if page.tag %}
    {% assign sorted_tags = page.tag | sort %}
    {% for tag in sorted_tags %}
    <a class="post-tag" href="{{ site.baseurl }}/tags#{{ tag |replace: ' ', '-' }}">{{ tag | upcase }}</a>
    {% endfor %}
    {% endif %}
  </p>
  {% include utterances.html %}

</div>




